<!DOCTYPE html>
<html lang="en" class="light">
	<head>
		<meta charset="utf-8" />
		<!-- <meta http-equiv="Permissions-Policy" content="interest-cohort=()" /> -->
		<link rel="icon" href="./favicon.png" />
		<!-- import diff2html.min.css -->
		<link rel="stylesheet" href="./diff2html.min.css" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="./_app/immutable/assets/0.26f92f89.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ProgressBar.4f1e9ba5.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.8c9bf053.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/scheduler.aa2ef5b9.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/singletons.de9a0a96.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.e57c2893.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.b1013579.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.11beda0a.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.3f7da5a4.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/ProgressBar.svelte_svelte_type_style_lang.bd7f7619.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/stores.369d9d6c.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/apimessage.aa0364f9.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/3.82a9ac7a.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/each.e59479a4.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/ExportToExcel.ebc8f526.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">  <nav class="flex flex-row list-none justify-start bg-slate-600 text-white text-xs p-2 sticky top-0 z-0"><ul class="flex flex-row list-none justify-start w-[100%]" data-svelte-h="svelte-14jwn9"><li class="p-2 ml-10"><a href="/">HOME</a></li> <li class="p-2 ml-10"><a href="/test.html">TEST</a></li> <li class="p-2 ml-10"><a href="/report.html">REPORT</a></li> <li class="p-2 ml-10"><a href="/playground.html">REPL</a></li></ul> </nav> <div class="w-[99.6vw] h-[100vh] m-0 border bg-white"><div class="h-[3vh] items-center p-0.5 bg-gray-300"><code data-svelte-h="svelte-edwhxk">F2</code>: run <code data-svelte-h="svelte-13p8t51">Esc</code>: clear
		<input type="button" value="save" class="border rounded-md pl-1 pr-1"> </div> <div class="w-auto max-h-[45vh] h-[35vh] border border-b-blue-600 flex flex-row items-stretch"><textarea class="w-[80vw] h-[34.6vh] p-0.5 border resize-none bg-slate-50"></textarea> <div class="border bg-slate-200 w-[20vw] overflow-y-scroll"></div></div> <div class="w-auto h-[62vh] border overflow-y-scroll"><table class="border w-full p-0.5"><tr class="w-full"></tr> <tbody></tbody></table></div></div> 
			
			<script>
				{
					__sveltekit_njnkwk = {
						base: new URL(".", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("./_app/immutable/entry/start.8c9bf053.js"),
						import("./_app/immutable/entry/app.b1013579.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 3],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
